* {  
	font-family: 'Montserrat', sans-serif; 
	font-size: 14px; 
	color: #333333;
	-ms-overflow-style: none; 
}

h1,h2,h3,h4 { 
	font-weight: 800; 
}

.btn { 
	clear: both; 
	text-decoration:  none;
	display: inline-block;
	color: #ffffff;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
	min-width: 150px; 
	margin-top: 20px; 
	background: #da0a40; 
	border: solid #da0a40 1px; 
	padding: 10px 20px; 
	text-align: center; 
	border-radius: 40px; 
}
h1 { 
    font-size: 60px;
	font-family: 'Audiowide', cursive;
}
h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}  

.input_text {
	display: block;
	width: 94%;
	padding: 8px 10px;
	color: #333333;
	border: solid #afafaf 1px;
}

#emailHelp {
	font-size: 12px;
}

#privacy-policy{
	float: left;
}



input::placeholder {
	
	color: #333333 !important;
	font-weight: 400 !important;

}

label { 
	margin: 16px 0px 6px;
	display: block; 
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
}

.img-fluid { 
	max-width: 100%;
}

.btn:hover { 
	background: #541d61; 
	border: solid #541d61 1px; 
}

a { 
	text-decoration: none;
}

body { 
	width: 100%; margin: 0px;
}


.container-fluid {
	display: inline-block;
	width: 100%;
}
.container {
	display: block;
	width: 65%;
	margin: 0px auto; 
	padding: 0px 15px;
}

/* HEADER -------------------------------------------------------*/

header { 
	background: #ffffff;
    height: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding: 20px 0px 30px; /*Te añade 20px para arriba y para abajo y 0 para los lados*/
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.24);
}

header .logo {
	margin-top: 5px;
}
.capaLogo-lg {
	width: 6%;
	display: inline-block;   
	float: left;
}
.capaLogo-sm { 
	display: none; 
	float: left;
}

.menuPrincipal {
	width: 70%;
    display: block;
    float: left;
    padding-right: 20px;

}

.bloqueRedes {
	width: 13%;
	display: inline-block;
	text-align: right;
}

.red {
	filter: brightness(0.7) !important;
	margin-top: 8px;
	margin-left: 10px !important;
}
.red:hover{
	filter: brightness(0.4) !important;
}

.menuPrincipal ul {
	float: left;
	padding-left: 0px;
	display: block;
	margin-left: 40px;
	margin-bottom: 0px;
	margin-top: 11px;
}

.menuPrincipal ul li { 
	display: inline-block; 
	left: 0;
	list-style: none;
	border-right: solid 1px #333333;
}
.menuPrincipal ul li:last-child { 
	border-right: solid 0px #333333;
}

.menuPrincipal ul li a{
	display: inline-block;
	padding: 3px 15px;
	font-weight: 800;
	font-size: 16px;
	color: #541d61;
} 

.menuPrincipal ul li a:hover{
	color: #da0a40;
	text-decoration: none;
} 



@media (max-width: 768px) {

	.menuPrincipal .navbar { 
		padding: 0px !important;
	}

	.menuPrincipal ul li {
	    display: block;
	    float: right;
	    width: 100%;
	    text-align: right;
	}

	.capaLogo-lg { 
		display: none; 
	}

	.capaLogo-sm { 
		display: inline-block; 
	}

	.contenido { 
		width: 85% !important; 
		top: 20% !important; 
		

	}

	#cabecera img { 
		width: 186% !important; 
		max-width: inherit; 
	}

	#banner img { 
		width: 120% !important; 
		max-width: inherit; 
	}

	#contacto form { 
		width: 90% !important; 
	}

	footer a { 
		margin-top: 20px !important; 
	}

	.producto { 
		width: 100% !important; 
		height: 198px !important; 
	}

	.producto:last-child { 
		margin-bottom: 0px !important;
	}

	.servicio:last-child { 
		margin-bottom: 0px !important;
	}

}

@media (max-width: 400px) {

	#cabecera img { 
		width: 239% !important; 
		max-width: inherit; 
	}

	.servicio { width: 90% !important; min-width: inherit !important; padding: 30px !important;}

	#banner img { 
		width: 163% !important; 
		max-width: inherit; 
	}

	#banner .contenido {
	    top: 12% !important;
	}

	#productos h2 {
    	font-size: 20px;
	}

}

.text_wrapper {
	float: left;
	width: 60%;
}

.formulario {
	float: right;
	width: 30%;
	display: block;
}
select {
    display: block;
    width: 100%;
    padding: 8px 10px;
}

#cabecera { 
	position: relative; 
	height: 700px; 
	overflow: hidden; 
	background: url(../img/contacto-bg.png);
}

#cabecera img { 
	filter: brightness(50%); 
	width: 100%; 
}

.contenido { 
	width: 100%;
	display: inline-block; 
	clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 53% 95%, 50% 100%, 47% 95%, 0 95%);
	background: url(../img/set-up-pro.jpg) no-repeat;
	background-size: cover;
	height: 700px;
}
.contenido2 { 
	width: 65%; 
	position: absolute; 
	left: 0; 
	right: 0; 
    top: 50px;
	margin: auto; 
	z-index: 300;
	padding: 0px 15px;
	text-align: center;
}

.contenido h1,
.contenido2 h1,
.contenido h2,
.contenido2 h2,
.contenido p,
.contenido2 p { 
	color: #ffffff; 
}
.contenido h1,
.contenido2 h1{ 
	font-size: 55px !important;
}
.contenido p,
.contenido2 p { 
	font-size: 25px !important;
}


/* SECCIÓN SERVICIOS -------------------------------------------------------*/

.contenedor-flex{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.servicio { 
	width: 24%;
	margin-bottom: 40px;
	min-width: 268px;
	background: #ffffff; 
	min-height: 342px; 
	padding: 38px; 
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
}

.servicio span.num {
	font-family: 'Audiowide', cursive;
	font-size: 50px;
	color: #a77784;
	margin-right: 40px;
	display: inline-block;
}
.servicio .barraTitulo {
	border-bottom: solid 2px #a77784;
	width: 50%;
	display: inline-block;
}

.servicio h3 { 
	margin-bottom: 20px; 
	text-transform: uppercase; 
	font-size: 18px; 
	letter-spacing: 2px;
	color: #553f5a ;
	margin-top: 32px;
}

p.servicio-text {
    min-height: 132px;
}

.label-precio { 
	margin-bottom: 0px; 
}

.precio { 
	color: #da0a40; 
	font-weight: 800; 
	display: block;
	font-size: 25px; 
}